<section id="encabezado">
	<div id="nombre" class="menu-listTitle">
		<a class="link" href="https://github.com/elyak123">Javier Llamas</a>
	</div>
	<button type="button" class="btn btn-default boton-movil" aria-label="Menu">
		<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
	</button> 
	<nav class="menu-container">
		<ul id="menuPrincipal" class="menu-list">
			<li class="menu-listitem"><a class="link" href="#home">Home</a></li>
			<li class="menu-listitem"><a class="link" href="#about">About</a></li>
			<li class="menu-listitem"><a class="link" href="#portafolio">Portfolio</a></li>
			<li class="menu-listitem"><a class="link" href="#contact">Contact</a></li>
		</ul>
	</nav>
</section>